.admin-dashboard {
    background-color: #BCBCBC;
    /* background-color: #d6d4d4; */
    min-height: 100vh;
}

.navnav {
    height: 11vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

.back-btn {
    height: 5vh;
    padding: 0vh .6vw;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2vh 0vh 0vh 0.5vw;
    background-color: #D9D9D9;
    border: none;
    border-radius: 3px;
    position: sticky;
    top: 12.5vh;
    z-index: 1;
}
.back-btn i {
    font-size: 10px;
}
.back-btn:hover{
    outline: 1px solid #757575;
    color: #4b4a4a;
    cursor: pointer;
}

.dashboard-body {
    display: flex;
    gap: 1.5vw;
}

.sidebar {
    flex: 15;
    margin: 0vh 0.2vw;
    margin: 0vh .5vw;
    position: sticky;
    top: 12vh;
}
.outlet{
    flex:80;
    background-color: #D9D9D9;
    margin:0vh 1vw;
    border-radius: 5px;
    padding: 3vh 2vw;
}



