.products-table tr{
    color: #223B44;
    height: 8vh;
}
/* .table-desc{
    width: 22%;
} */

.sold-ou{
    font-size: 12px;
}
.sold-out{
    color:red;
}
.product-name{
    height: 100%;
    display: flex;
}
.product-image{
    height: 50%;
    width: 5vh;
    border-radius:3px;
    margin-right: 1vw;
}

.validvalid{
    top: 78%;
    
}
.category-rep{
    background-color: #E9EBEB;
}

.lineline-card {
    width: 50vh;
}
