.sales-component {
    position: relative;
}

.grand-total {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 3vh;
    padding: 0vh 2vw;
}

.grand-total-btn {
    float: right;
    margin-right: 2vw;
    padding: 1vh 2vw;
    font-weight: 400;
    background-color: #20DF7F;
    border: none;
    border-radius: 3px;
    border: 1px solid #BCBCBC;
    cursor: pointer;
}

.grand-total-btn:hover {
    border: 1px solid black;
}

/* checkout section styles */
.search-user-cont {
    text-align: center;
    height: 5vh;
    margin: auto;
    margin-top: 14vh;
    width: 60%;
}

.search-user-cont :nth-child(1) {
    display: inline;
    margin-right: 2vw;
}

.search-user-cont input {
    border: none;
    width: 20vw;
    height: 100%;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    outline: 1px solid white;
    border-radius: 5px;
    padding: 0vh 1.5vw;
    margin-right: 2vw;
}

.search-user-cont button {
    height: 100%;
    padding: 0vh 2vw;
    font-weight: 500;
    cursor: pointer;
}

.results-search {
    width: 47.5%;
    width: 58%;
    margin: auto;
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 5vh;
}

.results-search p {
    margin: 0;
    margin-top: 1.2vh;
    margin-left: 25vh;
}

.results-search button {
    height: 5vh;
    padding: 0vh 1.4vw;
    align-self: last baseline;
    cursor: pointer;
}

.search-prod-data {
    padding: 0;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5vw;
    background-color: transparent;
    width: fit-content;
    margin: 2vh 0vw;
    height: 6vh;
    border: 1px solid #BCBCBC;
    border-radius: 8px;
    padding-left:1vw;
    color: #6e6d6d;
    background-color:rgb(229, 231, 231);
}

.search-prod-data input {
    border: none;
    width: 25vw;
    height: 90%;
    outline: none;
    font-size: 14px;
    background-color: transparent;
}

.search-prod-data button {
    height: 100%;
    padding: 0vh 2.5vw;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    font-weight: 500;
    background-color: #00BCC2;
    /* color: rgb(228, 225, 225); */
}
.search-prod-data button:hover{
    background-color: #D9D9D9;
    color: black;
    color: #00BCC2;
}

.addprods-message{
    position: absolute;
    top: 10vh;
    font-size: 12px;
    font-weight: 600;
}
.addprods-message-valid{
    color: green;
}
.addprods-message-invalid{
    color: rgb(202, 0, 0);
}