.user-page {
    position: relative;
}

.filters {
    display: flex;
    width: fit-content;
    border-bottom: 1px solid #BCBCBC;
    border-left: 1px solid #BCBCBC;
    height: 4vh;
    align-items: center;
}

.filters h5 {
    height: 100%;
    border-right: 1px solid #BCBCBC;
    margin: 0vh;
    padding: 0vh 1vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.h5active{
    border-bottom: 2px solid rgb(105, 103, 103);
    color: #00BCC2;

}

.searchPanel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5vw;
    background-color: transparent;
    width: fit-content;
    margin: 2vh 0vw;
    height: 6vh;
    border: 1px solid #BCBCBC;
    border-radius: 8px;
    padding: 0vh 1vw;
    color: #6e6d6d;
}

.search-box * {
    background-color: transparent;
}

.search-box input {
    border: none;
    width: 20vw;
    height: 100%;
    outline: none;
    font-size: 14px;
}

.add-user-btn {
    height: 6vh;
    color: #0B858A;
    font-weight: 500;
    padding: 0vh .5vw;
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    background-color: transparent;
}

.add-user-btn:hover {
    cursor: pointer;
    background-color: rgb(225, 229, 233);
}

table {
    width: 100%;
    border: 1px solid #BCBCBC;
    border-collapse: collapse;
    font-size: 14px;
}

thead td {
    height: 30px;
    border-right: 1px solid #BCBCBC;
    text-align: left;
    padding-left: 5px;
    color: black;
    padding: .5vh 1vw;

}

thead tr {
    height: 7.5vh;
}

tr {
    height: 7.5vh;
    border-bottom: 1px solid #BCBCBC;
    box-shadow: 0px 1px 10px #BCBCBC;
}

tr:hover {
    background-color: #dadada;
}

td {
    word-wrap: break-word;
    height: 100%;
    padding: .5vh 1vw;
}

.actions-row {
    position: relative;
}

.user--name {
    display: flex;
    align-items: center;
}

.user--name img {
    height: 6vh;
    border-radius: 50%;
    margin-right: .3vw;

}

.actions {
    text-align: center;
}

.action-drop {
    position: absolute;
    height: fit-content;
    background-color: #f8f8f8;
    right: 0;
    z-index: 1;
    font-size: 12px;
    padding: 1vh 1vw;
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0px 1px 20px rgba(34, 59, 68, .4);
}

.action-drop>* {
    margin: 1.2vh 0vw;
    cursor: pointer;
}

.action-drop>p:hover {
    color: #00BCC2;
}

.hrhr {
    border: none;
    border-top: 0.1vh solid #95a8b1;
}

.fa-actions {
    left: 88%;
    font-size: 10px;
}


/* Modal Css */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(206, 203, 203, .7); */
    opacity: 1;
    display: flex;
}

.info-container {
    background-color: rgba(226, 226, 226, 1);
    width: 55%;
    height: fit-content;
    text-align: center;
    padding: 1vh 0vw;
    border-radius: 10px;
    position: relative;
    opacity: 1;
    filter: none;
    margin-top: 5%;
    margin-left: 17%;
    box-shadow: 10px 15px 1000px #858282;
}

.info-container h5 {
    margin: 0;
    font-size: 15px;
}

.fa-x {
    color: #0B858A;
    position: absolute;
    top: 5%;
    right: 4%;
}

.div {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 0vh 1.5vw;
    /* border: 1px solid; */
}

.userdet-form {
    margin-top: 4vh;
}

.div>div {
    width: 45%;
}

.userdet-form label {
    display: block;
    margin: 1vw 0vw;
    font-size: 15px;
    color: #223B44;
    margin-top: 4vh;
}

.userdet-form input {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #b8b7b7;
    width: 93%;
    padding-left: 1vw;
}

.userdet-form input:hover,
.userdet-form select:hover {
    border-bottom: 2px solid;
}

.userdet-form select {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #b8b7b7;
    padding: 0vh 1vw;

}

.userdet-form button {
    margin: 2vh 0vw;
    margin: 4vh;
    width: 40%;
    height: 5.5vh;
    font-size: 14px;
    font-weight: 500;
    background-color: #20DF7F;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.userdet-form button:hover {
    border: 1px solid #858282;
}